<!-- -->

<launch>

  <arg name="ns" default="turtlebot_2" />
  <group ns="$(arg ns)">
    <!-- laser sensor -->
    <arg name="3d_sensor" default="hokuyo"/>
    <node name="urg_node" pkg="urg_node" type="urg_node" output="screen">
      <param name="ip_address" value="192.168.1.10"/>
      <param name="frame_id" value="$(arg ns)/laser"/>
      <param name="calibrate_time" value="true"/>
      <param name="publish_intensity" value="false"/>
      <param name="publish_multiecho" value="false"/>
    </node>

    <node pkg="tf" type="static_transform_publisher" name="base_to_laser" args="0.1 0.0 0.18 0 0 0 $(arg ns)/base_link $(arg ns)/laser 100"/>
    <node pkg="laser_filters" type="scan_to_scan_filter_chain" name="laser_filter">
      <rosparam>
        scan_filter_chain:
        - name: range
          type: LaserScanRangeFilter
          params:
            use_message_range_limits: false
            lower_threshold: 0.3
            upper_threshold: .inf
            lower_replacement_value: -.inf
            upper_replacement_value: .inf
      </rosparam>
    </node>

    <!-- Map server -->
    <arg name="map_file" default="/home/tt/maps/1st_floor_0814.yaml"/>
    <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />

    <!-- AMCL -->
    <arg name="custom_amcl_launch_file" default="$(find turtlebot_navigation)/launch/includes/amcl/$(arg 3d_sensor)_amcl.launch.xml"/>
    <arg name="initial_pose_x" default="8.0"/> <!-- Use 17.0 for willow's map in simulation -->
    <arg name="initial_pose_y" default="0.0"/> <!-- Use 17.0 for willow's map in simulation -->
    <arg name="initial_pose_a" default="3.141592"/>
    <include file="$(arg custom_amcl_launch_file)">
      <arg name="ns"		 value="$(arg ns)" />
      <arg name="initial_pose_x" value="$(arg initial_pose_x)"/>
      <arg name="initial_pose_y" value="$(arg initial_pose_y)"/>
      <arg name="initial_pose_a" value="$(arg initial_pose_a)"/>
    </include>

    <!-- Move base -->
    <arg name="custom_param_file" default="$(find turtlebot_navigation)/param/dummy.yaml"/>

    <include file="$(find turtlebot_navigation)/launch/includes/move_base_ns.launch.xml">
      <arg name="ns" value="$(arg ns)"/>
      <!-- arg name="custom_param_file" value="$(arg custom_param_file)"/ -->
    </include>
  </group>
</launch>

